.header {
  width: 100%;
  position: relative;
  font-family: "DM Sans", sans-serif;
  z-index: 1000;
  .container {
    .headerContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navBar {
        .navList {
          display: flex;
          align-items: center;
          gap: 32px;
          .navItem {
            cursor: pointer;
            a {
              color: #fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              position: relative;
              &:hover::after {
                width: 100%;
                left: 0;
              }
              &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: -10px;
                content: "";
                display: block;
                height: 1px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
              }
            }
          }
          .navItem:nth-child(4) {
            display: none;
          }
        }
      }
      .appealBtn {
        display: flex;
        padding: 20px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 35px;
        background: #fff;
        .appeal {
          color: #111;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }
  .downMenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: top 0.3s ease;
    z-index: 999;
    padding: 20px;
    background-color: #1d1d1e;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }
}

.footer {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  padding: 120px 0;
  .container {
    .footerContent {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      .footerInfo {
        width: 50%;
        height: 592px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 24px 0;
        .footerHeader {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          .footerTitle {
            width: 80%;
            color: #fff;
            font-family: "DM Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
          }
          .secFooterTitle {
            font-family: "DM Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
            background: linear-gradient(
              90deg,
              #fff 0%,
              rgba(255, 255, 255, 0) 63.97%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .footerContact {
          width: 100%;
          .contactList {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            .contactItem {
              a {
                color: #fff;
                font-family: "DM Sans", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
              }
              .mapBtn {
                display: flex;
                padding: 12px 24px;
                align-items: center;
                gap: 10px;
                border-radius: 26px;
                background: #222;
                border: none;
                color: #fff;
              }
            }
            .contactItem:nth-child(3) {
              display: flex;
              gap: 32px;
              align-items: center;
              .address {
                width: 50%;
                a {
                  color: #fff;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                }
              }
            }
          }
        }
      }
      .footerForm {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 32px;
        border-radius: 16px;
        background: rgba(30, 30, 30, 0.95);
        backdrop-filter: blur(12px);
        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 32px;
          .formPart {
            width: 100%;
            display: flex;
            gap: 12px;
            align-items: center;
            .formLeftSide {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 16px;
              label {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 115%;
              }
              input {
                width: 100%;
                padding: 20px 32px;
                border-radius: 8px;
                background: #222426;
                border: none;
                outline: none;
                color: #fff;
              }
              select {
                width: 100%;
                padding: 20px 32px;
                border-radius: 8px;
                background: #222426;
                border: none;
                outline: none;
                color: #fff;
              }
            }
            .formRightSide {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 16px;
              label {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 115%;
              }
              input {
                width: 100%;
                padding: 20px 32px;
                border-radius: 8px;
                background: #222426;
                border: none;
                outline: none;
                color: #fff;
              }
              select {
                width: 100%;
                padding: 20px 32px;
                border-radius: 8px;
                background: #222426;
                border: none;
                outline: none;
                color: #fff;
              }
            }
          }
        }
        .textArea {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          label {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
          }
          textarea {
            width: 100%;
            height: 128px;
            padding: 20px 32px;
            border-radius: 8px;
            background: #222426;
            border: none;
            outline: none;
            color: #fff;
            font-family: "Dm sans", sans-serif;
            resize: none;
          }
        }
        .subBtn {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            color: #fff;
            font-family: "Chakra Petch", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            border-radius: 30px;
            padding: 20px 56px;
            border: 1px solid #02d4ff;
            background: var(
              --main-gr,
              linear-gradient(95deg, #017dff 0%, #01d5ff 100%)
            );
          }
        }
      }
    }
  }
}

@media (max-width: 822px) {
  .header {
    width: 100%;
    position: relative;
    font-family: "DM Sans", sans-serif;
    .container {
      
      .headerContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navBar {
          .navList {
            display: flex;
            align-items: center;
            gap: 32px;
            .navItem {
              cursor: pointer;
              a {
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
              }
            }
            .navItem:nth-child(1) {
              display: none;
            }
            .navItem:nth-child(2) {
              display: none;
            }
            .navItem:nth-child(3) {
              display: none;
            }
            .navItem:nth-child(4) {
              display: flex;
              padding: 16px 24px;
              justify-content: center;
              align-items: center;
              border-radius: 35px;
              background: rgba(255, 255, 255, 0.06);
            }
          }
        }
        .appealBtn {
          display: none;
        }
      }
    }
    .downMenu {
      display: none;
      position: absolute;
      width: 100%;
      top: 80px;
      left: 0;
      transition: top 0.3s ease;
      z-index: 999;
      padding: 20px;
      background-color: #1d1d1e;
      align-items: center;
      justify-content: center;
      font-size: 60px;
      z-index: 1000;
    }
  }

  .footer {
    width: 100%;
    padding: 48px 0;
    .container {
      .footerContent {
        display: flex;
        flex-direction: column;
        gap: 48px;
        .footerInfo {
          width: 100%;
          height: 491px;
          .footerHeader {
            .footerTitle {
              width: 100%;
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: 115%;
            }
            .secFooterTitle {
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: 115%;
            }
          }
          .footerContact {
            .contactList{
                .contactItem:nth-child(3){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    .address{
                        width: 100%;
                    }
                }
            }
          }
        }
        .footerForm {
          width: 100%;
          .form{
            .formPart{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                .formLeftSide{
                    width: 100%;
                }
                .formRightSide{
                    width: 100%;
                }
            }
          }
        }
      }
    }
  }
}
