.hero {
  width: 100%;
  .heroDesign {
    width: 549px;
    height: 750px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -25px;
    z-index: -100;
  }
  .container {
    .heroContent {
      height: 100vh;
      display: flex;
      align-items: center;
      gap: 32px;

      .infoLeft {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        z-index: 10;
        .infoItem {
          display: flex;
        }
        .infoItem:nth-child(1) {
          .heroButtons {
            display: flex;
            gap: 8px;
            font-family: "DM Sans", sans-serif;
            span {
              color: #fff;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%;
              display: flex;
              padding: 12px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 20px;
              background: rgba(255, 255, 255, 0.25);
              backdrop-filter: blur(12px);
            }
          }
        }
        .infoItem:nth-child(2) {
          .heroTitle {
            width: 70%;
            font-family: "DM Sans", sans-serif;
            color: #fff;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
          }
        }
        .infoItem:nth-child(3) {
          h2 {
            font-family: "DM Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
            background: linear-gradient(
              90deg,
              #fff 0%,
              rgba(255, 255, 255, 0) 99.97%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .infoRight {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        .infoItem:nth-child(1) {
          position: relative;
          width: 305px;
          height: 48px;
          background-image: url("../images/buttoncover.svg");
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 35px;
          border: none;
          cursor: pointer;
          .btnCover {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 35px;
            width: 305px;
            height: 48px;
            opacity: 0.75;
            background: linear-gradient(90deg, #121314 80%, #232425 100%);
          }
          span {
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            font-family: "Dm sans", sans-serif;
            z-index: 1;
          }
        }

        .infoItem:nth-child(2) {
          width: 80%;
          p {
            color: #fff;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            font-family: "DM Sans", sans-serif;
          }
        }
        .infoItem:nth-child(3) {
          width: 177px;
          height: 58px;
          display: flex;
          padding: 20px 40px;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          border: 1px solid #02d4ff;
          background: var(
            --main-gr,
            linear-gradient(95deg, #017dff 0%, #01d5ff 100%)
          );
          .appeal {
            color: #fff;
            font-family: "Chakra Petch", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }
        }
        .modal {
          display: none;
          position: fixed;
          z-index: 999;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);

          .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .close {
            position: absolute;
            top: 0%;
            right: 10px;
            font-size: 50px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            z-index: 10000;

            &:hover,
            &:focus {
              color: black;
              text-decoration: none;
            }
          }

          video {
            width: 100%;
            height: 50%;
          }
        }
      }
    }
  }
}
.cardBox {
  width: 100%;
  .cardBoxContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    .card {
      cursor: pointer;
      display: flex;
      padding: 48px;
      height: 332px;
      width: 32%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 12px;
      border: 1px solid #999;
      background: rgba(17, 17, 17, 0.35);
      backdrop-filter: blur(12px);
      img {
        width: 80px;
        height: 80px;
      }
      .cardTitle {
        color: #fff;
        font-family: "DM Sans", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: rgba(17, 17, 17);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    font-size: 28px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
}

.sidebar.active {
  right: 0; /* Menüyü görünür hale getir */
}

.team {
  width: 100%;
  .container {
    .sliderText {
      width: 30%;
      color: #fff;
      font-family: "DM sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%; /* 25px */
    }
  }
  .teamSlider {
    background-image: url("../images/bg-grid.svg");
  }
}

.information {
  width: 100%;
  .infoContnet {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .infoCard {
      width: 100%;
      padding: 48px 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      background-color: #f4c644;
      border: 1px solid black;
      .infoCardTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .topLeft {
          color: #222;
          font-family: "DM Sans", sans-serif;
          font-size: 56px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }
        .topRight {
          color: #222;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }
      }
      .cardText {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cardDate {
          color: #222;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
        }
        .cardPrice {
          color: #222;
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
        }
      }
    }
  }
}

.thirdSlider {
  display: none;
}

@media (min-width: 822px) {
  .information {
    display: block;
  }
}

@media (max-width: 822px) {
  .hero {
    width: 100%;

    .heroDesign {
      position: absolute;
      left: 0;
      top: -30px;
      overflow: hidden;
      width: 100%;
    }
    .container {
      .heroContent {
        width: 100%;
        height: auto;
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 72px;
        .infoLeft {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          .infoItem {
            display: flex;
          }
          .infoItem:nth-child(1) {
            .heroButtons {
              display: flex;
              gap: 8px;
              font-family: "Chakra Petch", sans-serif;
              span {
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 20px;
                background: rgba(255, 255, 255, 0.25);
                backdrop-filter: blur(12px);
              }
            }
          }
          .infoItem:nth-child(2) {
            .heroTitle {
              width: 100%;
              font-family: "DM Sans", sans-serif;
              color: #fff;
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: 115%;
            }
          }
          .infoItem:nth-child(3) {
            h2 {
              font-family: "DM Sans", sans-serif;
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: 115%;
              background: linear-gradient(
                90deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 99.97%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        .infoRight {
          width: 100%;
          display: flex;
          flex-direction: column;

          gap: 32px;
          .infoItem:nth-child(1) {
            position: relative;
            width: 100%;
            height: 48px;
            background-image: url("../images/buttoncover.svg");
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 35px;
            .btnCover {
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 35px;
              width: 100%;
              height: 48px;
              opacity: 0.75;
              background: linear-gradient(90deg, #121314 80%, #232425 100%);
            }
            span {
              color: #fff;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              font-family: "Dm sans", sans-serif;
              z-index: 1;
            }
          }
          .infoItem:nth-child(2) {
            width: 100%;
            p {
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 125%; /* 20px */
              font-family: "DM Sans", sans-serif;
            }
          }
          .infoItem:nth-child(3) {
            width: 177px;
            height: 58px;
            display: flex;
            padding: 20px 40px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            border: 1px solid #02d4ff;
            background: var(
              --main-gr,
              linear-gradient(95deg, #017dff 0%, #01d5ff 100%)
            );
            .appeal {
              color: #fff;
              font-family: "Chakra Petch", sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
            }
          }
        }
      }
    }
  }
  .cardBox {
    width: 100%;
    padding-top: 96px ;
    .cardBoxContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .card {
        cursor: pointer;
        display: flex;
        padding: 32px;
        height: 176px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 12px;
        border: 1px solid #999;
        background: rgba(17, 17, 17, 0.35);
        backdrop-filter: blur(12px);
        img {
          width: 56px;
          height: 58px;
        }
        .cardTitle {
          color: #fff;
          font-family: "DM Sans", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }

  .team{
    .container{
      .sliderText{
        width: 100%;
      }
    }
  }

  .information {
    display: none;
  }
}
