html {
  body {
    position: relative;
    .slider {
      width: 100%;
      padding: 96px 0;
      .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        .sliderHeader {
          width: 23%;
          margin-bottom: 24px;
          .sliderText {
            color: #fff;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
          }
        }
      }
      .swiper {
        width: 100%;
        .swiper-wrapper {
          gap: 20px;
          .firstSlide {
            background-color: #fff;
            width: 335px;
            height: 432px;

            img {
              display: block;
              width: 100%;
            }
          }
          .secondSlide {
            width: 430px;
            height: 332px;
            background-color: #fff;
          }
        }
      }
    }
  }
}
