.header {
  width: 100%;
  position: relative;
  font-family: "DM Sans", sans-serif;
  z-index: 1000;
}
.header .container .headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .headerContent .navBar .navList {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .container .headerContent .navBar .navList .navItem {
  cursor: pointer;
}
.header .container .headerContent .navBar .navList .navItem a {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.header .container .headerContent .appealBtn {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: #fff;
}
.header .container .headerContent .appealBtn .appeal {
  color: #111;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.header .downMenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: top 0.3s ease;
  z-index: 999;
  padding: 20px;
  background-color: #1d1d1e;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.hero {
  width: 100%;
}
.hero .heroDesign {
  width: 549px;
  height: 750px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
}
.hero .container .heroContent {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero .container .heroContent .infoLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}
.hero .container .heroContent .infoLeft .infoItem {
  display: flex;
}
.hero .container .heroContent .infoLeft .infoItem:nth-child(1) .heroButtons {
  display: flex;
  gap: 8px;
  font-family: "DM Sans", sans-serif;
}
.hero .container .heroContent .infoLeft .infoItem:nth-child(1) .heroButtons a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.hero .container .heroContent .infoLeft .infoItem:nth-child(2) .heroTitle {
  width: 70%;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}
.hero .container .heroContent .infoLeft .infoItem:nth-child(3) h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 99.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .container .heroContent .infoRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero .container .heroContent .infoRight .infoItem:nth-child(1) {
  position: relative;
  width: 305px;
  height: 48px;
  background-image: url("../images/buttoncover.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}
.hero .container .heroContent .infoRight .infoItem:nth-child(1) .btnCover {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 35px;
  width: 305px;
  height: 48px;
  opacity: 0.75;
  background: linear-gradient(90deg, #121314 80%, #232425 100%);
}
.hero .container .heroContent .infoRight .infoItem:nth-child(1) span {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: "Dm sans", sans-serif;
  z-index: 1;
}
.hero .container .heroContent .infoRight .infoItem:nth-child(2) {
  width: 80%;
}
.hero .container .heroContent .infoRight .infoItem:nth-child(2) p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-family: "DM Sans", sans-serif;
}
.hero .container .heroContent .infoRight .infoItem:nth-child(3) {
  width: 177px;
  height: 58px;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #02d4ff;
  background: var(--main-gr, linear-gradient(95deg, #017dff 0%, #01d5ff 100%));
}
.hero .container .heroContent .infoRight .infoItem:nth-child(3) .appeal {
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.cardBox {
  width: 100%;
}
.cardBox .cardBoxContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.cardBox .cardBoxContent .card {
  cursor: pointer;
  display: flex;
  padding: 48px;
  height: 332px;
  width: 32%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #999;
  background: rgba(17, 17, 17, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.cardBox .cardBoxContent .card img {
  width: 80px;
  height: 80px;
}
.cardBox .cardBoxContent .card .cardTitle {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.gallery {
  width: 100%;
  padding: 96px 0;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.gallery .container .galleryTitle {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
.gallery .container .galleryContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1%;
}
.gallery .container .galleryContent .galleryItem {
  background-color: #fff;
  height: 432px;
  width: 24%;
}

@media (max-width: 822px) {
  .header {
    width: 100%;
    position: relative;
    font-family: "DM Sans", sans-serif;
  }
  .header .container {
    margin: 24px 16px;
  }
  .header .container .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .headerContent .navBar .navList {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header .container .headerContent .navBar .navList .navItem {
    cursor: pointer;
  }
  .header .container .headerContent .navBar .navList .navItem a {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .header .container .headerContent .navBar .navList .navItem:nth-child(1) {
    display: none;
  }
  .header .container .headerContent .navBar .navList .navItem:nth-child(2) {
    display: none;
  }
  .header .container .headerContent .navBar .navList .navItem:nth-child(3) {
    display: none;
  }
  .header .container .headerContent .navBar .navList .navItem:nth-child(4) {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.06);
  }
  .header .container .headerContent .appealBtn {
    display: none;
  }
  .header .downMenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    transition: top 0.3s ease;
    z-index: 999;
    padding: 20px;
    background-color: #1d1d1e;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    z-index: 1000;
  }
}
@media (max-width: 822px) {
  .hero {
    width: 100%;
  }
  .hero .heroDesign {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
  }
  .hero .container .heroContent {
    width: 100%;
    height: auto;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
  }
  .hero .container .heroContent .infoLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero .container .heroContent .infoLeft .infoItem {
    display: flex;
  }
  .hero .container .heroContent .infoLeft .infoItem:nth-child(1) .heroButtons {
    display: flex;
    gap: 8px;
    font-family: "Chakra Petch", sans-serif;
  }
  .hero .container .heroContent .infoLeft .infoItem:nth-child(1) .heroButtons a {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
  .hero .container .heroContent .infoLeft .infoItem:nth-child(2) .heroTitle {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
  }
  .hero .container .heroContent .infoLeft .infoItem:nth-child(3) h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 99.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero .container .heroContent .infoRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(1) {
    position: relative;
    width: 100%;
    height: 48px;
    background-image: url("../images/buttoncover.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(1) .btnCover {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 35px;
    width: 100%;
    height: 48px;
    opacity: 0.75;
    background: linear-gradient(90deg, #121314 80%, #232425 100%);
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(1) span {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    font-family: "Dm sans", sans-serif;
    z-index: 1;
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(2) {
    width: 100%;
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(2) p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    font-family: "DM Sans", sans-serif;
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(3) {
    width: 177px;
    height: 58px;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #02d4ff;
    background: var(--main-gr, linear-gradient(95deg, #017dff 0%, #01d5ff 100%));
  }
  .hero .container .heroContent .infoRight .infoItem:nth-child(3) .appeal {
    color: #fff;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: rgb(18, 19, 20);
  background: linear-gradient(90deg, rgb(18, 19, 20) 53%, rgb(10, 69, 131) 85%, rgb(1, 125, 255) 100%, rgb(1, 125, 255) 100%);
  background-repeat: no-repeat;
}

.container {
  margin: 24px 56px;
}

@media (max-width: 522px) {
  .container {
    margin: 24px 16px;
  }
}
html body {
  position: relative;
}
html body .slider {
  width: 100%;
  padding: 96px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}
html body .slider .container .sliderHeader {
  width: 100%;
}
html body .slider .container .sliderHeader .sliderText {
  width: 40%;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-family: "DM Sans", sans-serif;
}
html body .slider .swiper {
  width: 100%;
}
html body .slider .swiper .swiper-wrapper {
  gap: 20px;
}
html body .slider .swiper .swiper-wrapper .swiper-slide {
  background-color: #fff;
  width: 430px;
  height: 322px;
}
html body .slider .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=main.css.map */